:root {
	font-family: sans-serif; 
	--tp-br    : #c48c31; 
	--tp-r     : #e3002c; 
	--tp-r22a  : #fd92a3; 
	--tp-g     : #008659; 
	--tp-g03a  : #cfdb00; 
	--tp-o     : #f8b61c; 
	--tp-bl    : #0070bd; 
	--tp-lg    : #a1d884; 
	--tp-sb    : #25aae1; 
	--tp-sb11a : #283991; 
	--tp-lr    : #e40078; 
	--nt-y     : #ffdb00; 
	--nt-v     : #e5554f; 
	--nt-k     : #a28d5b; 
	--nt-lb    : #79bce8; 
	--nt-s     : #cc7722; 
	--nt-f     : #e5007f; 
	--ty-a     : #8246af; 
	--ty-g     : #62a033; 
	--ty-gega  : #006835; 
	--ty-brh   : #824729; 
	--tn-bbkbh : #015bba; 
	--tn-g     : #267f00; 
	--tn-r     : #d90023; 
	--tn-br    : #7f0037; 
	--tn-o     : #f5a818; 
	--kh-rrlrk : #e20b65; 
	--kh-oot   : #faa73f; 
	--kh-c     : #7cbd52; 
	--kh-y     : #ffc100; 
	--kh-p     : #c100ff; 
	--kh-qj    : #e20b65; 
	--kh-ld    : #524fff; 
}

@media (width > 768px) {
	body {
		width: 70vw; 
	}
}

@media (768px >= width > 425px) {
	body {
		width: 80vw; 
	}
}

@media (425px >= width) {
	body {
		width: 100vw; 
	}
}

body {
	margin-left: auto; 
	margin-right: auto; 
}

.group {
	position: sticky; 
	top: 0; 
	background: #666; 
	text-align: center; 
	font-size: 2em; 
	color: white; 
}

.sta {
	border-bottom-style: solid; 
	border-bottom-color: #CCC; 
	border-bottom-width: 1px; 
}

.no-service {
	background-color: #BBB; 
}

.route-and-stano {
	display: inline-block; 
	border-style: solid; 
	border-radius: 10px; 
	width: 1.7rem; 
}

.route-and-stano[sta-place = "KH"] {
	border-radius: 50%; 
	width: 2.25rem; 
}

.route-and-stano[sta-place = "KH"] .route::before {
	content: attr(data); 
	text-align: center; 
	width: 0.8rem; 
}

.route-and-stano[sta-place = "KH"] .stano::before {
	content: attr(data); 
	text-align: center; 
	width: 1.45rem; 
}

.route, .stano {
	display: inline-block; 
}

.route-and-stano .route::before {
	content: attr(data); 
	font-size: 0.5em; 
	display: inline-block; 
	width: 1.7rem; 
	text-align: center; 
}

.route-and-stano .stano::before {
	content: attr(data); 
	font-size: 0.5em; 
	display: inline-block; 
	width: 1.7rem; 
	text-align: center; 
}

/*.route-and-stano[sta-place = "TP"]:has(.route[data = "BR"]) {
	border-color: var(--tp-br); 
}

.route-and-stano[sta-place = "TP"]:has(.route[data = "R"]) {
	border-color: var(--tp-r); 
}

.route-and-stano[sta-place = "TP"]:has(.route[data = "R"]):has(.stano[data = "22A"]) {
	border-color: var(--tp-r22a); 
}*/