@charset "UTF-8"; 
td:empty::before {
	content: '-'; 
	text-align: center; 
	display: block; 
}
table {
	white-space: nowrap; 
}
td:first-child {
	position: sticky; 
	left: 0; 
	z-index: 1; 
	background: white; 
}

th {
	position: sticky; 
	background: white; 
	z-index: 2; 
}

[id="br"][id] th {background-color: #c48c31; color: white; }
[id="r" ][id] th {background-color: #e3002c; color: white; }
[id="g" ][id] th {background-color: #008659; color: white; }
[id="o" ][id] th {background-color: #f8b61c; color: black; }
[id="bl"][id] th {background-color: #0070bd; color: white; }
[id="y" ][id] th {background-color: #ffdb00; color: black; }
[id="a" ][id] th {background-color: #8246af; color: white; }
[id="v" ][id] th {background-color: #e5554f; color: white; }
[id="k" ][id] th {background-color: #a28d5b; color: white; }

/*.mrt-yes::before {content: "✅"; }
.mrt-no::before {content: "❌"; }
.mrt-idk::before {content: "❓"; }*/
.mrt-noservice {color: grey; }
[href] {text-decoration: none; }
[href]:hover {text-decoration: underline; }