:root {
	font-family: sans-serif; 
}

@media (width > 768px) {
	body {
		width: 70vw; 
	}
}

@media (768px >= width > 425px) {
	body {
		width: 80vw; 
	}
}

@media (425px >= width) {
	body {
		width: 100vw; 
	}
}

body {
	margin-left: auto; 
	margin-right: auto; 
}

.group {
	position: sticky; 
	top: 0; 
	background: #666; 
	text-align: center; 
	font-size: 2em; 
	color: white; 
}

.sta {
	border-bottom-style: solid; 
	border-bottom-color: #CCC; 
	border-bottom-width: 1px; 
}

.no-service {
	background-color: #BBB; 
}