:root {
	font-family: sans-serif; 
}

@media (width > 768px) {
	body {
		width: 70vw; 
	}
}

@media (768px >= width > 425px) {
	body {
		width: 80vw; 
	}
}

@media (425px >= width) {
	body {
		width: 100vw; 
	}
}

body {
	margin-left: auto; 
	margin-right: auto; 
}

span:has(~ span)::after {
	content: ' '; 
}

.group {
	position: sticky; 
	top: 0; 
	background: #666; 
	text-align: center; 
	font-size: 2em; 
	color: white; 
}

.sta {
	border-bottom-style: solid; 
	border-bottom-color: #CCC; 
	border-bottom-width: 1px; 
}

.no-service {
	background-color: #BBB; 
}

.route-and-stano {
	display: inline-block; 
	border-style: solid; 
	border-radius: 10px; 
	width: 1.7rem; 
}

.route-and-stano:has(.route[data = "KH"]) {
	border-radius: 50%; 
	width: 2.25rem; 
}

.route-and-stano:has(.route[data = "KH"]) .stano {
	--stano-data: attr(data); 
}

.route-and-stano:has(.route[data = "KH"]) .stano::before {
	content: none; 
}

.route-and-stano:has(.route[data = "KH"]) .route::before {
	content: attr(data) var(--stano-data); 
	text-align: center; 
	width: 2.25rem; 
}

.route-and-stano .route::before {
	content: attr(data); 
	font-size: 0.5em; 
	display: inline-block; 
	width: 1.7rem; 
	text-align: center; 
}

.route-and-stano .stano::before {
	content: attr(data); 
	font-size: 0.5em; 
	display: inline-block; 
	width: 1.7rem; 
	text-align: center; 
}