@charset "UTF-8"; 

@font-face{
	font-family: "Taipei Sans TC Beta";
	src: local("Taipei Sans TC Beta"), "../font/TaipeiSansTCBeta/TaipeiSansTCBeta-Regular.ttf"
	font-weight: normal;
}

@font-face{
	font-family: "Taipei Sans TC Beta";
	src: local("Taipei Sans TC Beta"), "../font/TaipeiSansTCBeta/TaipeiSansTCBeta-Bold.ttf"
	font-weight: bold;
}

@font-face{
	font-family: "Taipei Sans TC Beta";
	src: local("Taipei Sans TC Beta"), "../font/TaipeiSansTCBeta/TaipeiSansTCBeta-Light.ttf"
	font-weight: 300;
}

td:empty::before {
	content: '-'; 
	color: grey; 
	text-align: center; 
	display: block; 
}
table {
	white-space: nowrap; 
}
td:first-child {
	position: sticky; 
	left: 0; 
	z-index: 1; 
	background: white; 
}
th {
	position: sticky; 
	background: white; 
	z-index: 2; 
}
td span {
	display: inline-block; 
}

[id="tp-br"][id] th {background-color: #c48c31; color: white; }
[id="tp-r" ][id] th {background-color: #e3002c; color: white; }
[id="tp-g" ][id] th {background-color: #008659; color: white; }
[id="tp-o" ][id] th {background-color: #f8b61c; color: black; }
[id="tp-bl"][id] th {background-color: #0070bd; color: white; }
[id="nt-y" ][id] th {background-color: #ffdb00; color: black; }
[id="ty-a" ][id] th {background-color: #8246af; color: white; }
[id="nt-v" ][id] th {background-color: #e5554f; color: white; }
[id="nt-k" ][id] th {background-color: #a28d5b; color: white; }

td:nth-of-type(4) {font-family: var(--font-family-ja); }
td:nth-of-type(5) {font-family: var(--font-family-ko); }
td:nth-of-type(1), td:nth-of-type(2), td:nth-of-type(3) {font-family: "Taipei Sans TC Beta"; }
td:nth-of-type(1) {text-align: center; }
body {display: inline-block; }

.mrt-sub {font-size: 0.5em; }

/*.mrt-yes::before {
	content: "✅"; 
}
.mrt-no::before {
	content: "❌"; 
}
.mrt-idk::before {
	content: "❓"; 
}*/

.mrt-noservice.mrt-noservice {color: grey; }
.mrt-noservice a {color: #6699CC}

.mrt-legend-transfer-outofsta::after {content: "（站外轉乘）"; }
.mrt-legend-transfer-to::before {content: "往"; }
.mrt-legend-transfer-to::after {content: "方向"; }
.mrt-legend-branch::after {content: "支線"; }

                .mrt-legend-airport::before {color: initial; content: "🛧"; }
.mrt-legend-word.mrt-legend-airport::before {color: initial; content: "🛧機場"; }
                .mrt-legend-hsr::before     {color: initial; content: "🚄"; }
.mrt-legend-word.mrt-legend-hsr::before     {color: initial; content: "🚄高鐵"; }
                .mrt-legend-tra::before     {color: initial; content: "🚆"; }
.mrt-legend-word.mrt-legend-tra::before     {color: initial; content: "🚆台鐵"; }
                .mrt-legend-maokong::before {color: initial; content: "🚡"; }
.mrt-legend-word.mrt-legend-maokong::before {color: initial; content: "🚡貓空纜車"; }
                .mrt-legend-lrt::before     {color: initial; content: "🚈"; }
.mrt-legend-word.mrt-legend-lrt::before     {color: initial; content: "🚈輕軌"; }

/*
🛧	airport
🚄	high speed rail
🚆	railway
🚡	gondola
🚇	metro
🚈	light rail
🚊	tram

🚉	station

https://www.unicode.org/charts/nameslist/n_1F680.html
*/