.title-name {
	font-weight: bold; 
}

h1, h2 {
	font-weight: normal; 
	border-bottom: solid 1px #a2a9b1; 
}
p {
	text-indent: 2em; 
}

table {
	border: 1px solid #a2a9b1; 
	border-collapse: collapse; 
}
thead, th {
	font-weight: bold; 
	background-color: #eaecf0; 
}
tbody, td {
	background-color: #f8f9fa; 
}

[href|="#link_ref"], [href|="#link_note"] {
	vertical-align: super; 
	font-size: smaller; 
}
[href|="#link_note"]::after {
	content: " "; 
}

a.site-out::after {
	content: "　"; 
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/96/Link-external-small-ltr-progressive.svg); 
	background-repeat: no-repeat; 
	background-size: .857em; 
	vertical-align: middle; 
}
a:link {color: #0645ad; }
a:visited {color: #6a60b0; }	/* #ab47bc */
a:visited:hover {color: #534fa3; }
a:visited:active {color: #353262; }
a:hover {color: #3056a9; }		/* #2196f3 */
a:active {color: #233566; }		/* #0d47a1 */
a:focus {color: #36c; }

.file_docx, .file_pdf {
	display: inline-block; 
	width: 1em; 
	background-repeat: no-repeat; 
	background-size: 1em; 
}
.file_docx[href] {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/db/DOCX_icon_bold.svg); 
}
.file_pdf[href] {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6c/PDF_icon.svg); 
}

.link {
	font-size: .9em; 
}