.title-name {
	font-weight: bold; 
}

h1, h2 {
	font-weight: normal; 
	border-bottom: solid 1px #a2a9b1; 
}
p {
	text-indent: 2em; 
}

thead, th {
	font-weight: bold; 
	background-color: #eaecf0; 
}
tbody, td {
	background-color: #a2a9b1; 
}

[href|="#link_ref"], [href|="#link_note"] {
	vertical-align: super; 
	font-size: smaller; 
}
[href|="#link_note"]::after {
	content: " "; 
}

a.site-out::after {
	content: "ã€€"; 
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/96/Link-external-small-ltr-progressive.svg); 
	background-repeat: no-repeat; 
	background-size: .857em; 
	vertical-align: middle; 
}
a:link {color: #0645ad; }
a:visited {color: #6a60b0; }	/* #ab47bc */
a:visited:hover {color: #534fa3; }
a:visited:active {color: #353262; }
a:hover {color: #3056a9; }		/* #2196f3 */
a:active {color: #233566; }		/* #0d47a1 */
a:focus {color: #36c; }
.link {
	font-size: .9em; 
}