@font-face{
	font-family: "Taipei Sans TC Beta";
	src: local("Taipei Sans TC Beta"), "./../font/TaipeiSansTCBeta/TaipeiSansTCBeta-Regular.ttf"
	font-weight: normal;
}

@font-face{
	font-family: "Taipei Sans TC Beta";
	src: local("Taipei Sans TC Beta"), "./../font/TaipeiSansTCBeta/TaipeiSansTCBeta-Bold.ttf"
	font-weight: bold;
}

@font-face{
	font-family: "Taipei Sans TC Beta";
	src: local("Taipei Sans TC Beta"), "./../font/TaipeiSansTCBeta/TaipeiSansTCBeta-Light.ttf"
	font-weight: 300;
}

:root{
	--color-grey: grey
}

/*mrt::before{
	content: '<script scr="C:/Users/Dinsh/Desktop/css-attr.js"></script>'
}*/

*, *::before, *::after{
	vertical-align: middle;
	font-family: "Taipei Sans TC Beta", Arial, sans-serif;
}

mrt{
	display: table;
	border: solid 1px;
	border-spacing: 2px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

line{
	display: table-row-group;
	--line-color-bg: attr(line-color-bg color);
	background: var(--line-color-bg);
	--line-color-fg: attr(line-color-fg color);
	color: var(--line-color-fg);
	text-align: left;
}

line-name-zhtw, line-name-en, line-name-ja, line-name-ko, sta-name-zhtw, sta-name-en, sta-name-ja, sta-name-ko, transfers{
	display: table-cell;
	border: solid 1px;
	padding: 2px;
}

line-name-zhtw, line-name-en, line-name-ja, line-name-ko{
	position: sticky;
	z-index: 1;
	top: 0px;
	background: white;
}

line-name-zhtw, sta-name-zhtw{
	width: 12vw;
}

line-name-en, sta-name-en{
	width: 30vw;
}

line-name-ja, sta-name-ja{
	width: 12vw;
}

line-name-ko, sta-name-ko{
	width: 12vw;
}

transfer{
	display: block;
	width: 17vw;
}

station{
	display: table-row;
}

/*line-name-zhtw, line-name-en, line-name-ja, line-name-ko{
	color: attr(line-color-fg);
	background:attr(line-color-bg);
}*/

[no-service="true"]{
	color: var(--color-grey);
}

[out-of-sta="true"]::after{
	content: "（站外轉乘）";
	color: var(--color-grey);
}

[href]{
	text-decoration: none;
}

[href]:hover{
	text-decoration: underline;
}