:root{
	font-family: sans-serif; 
}

@media (width > 768px){
	mrt-stalist{
		width: 70vw; 
	}
}

@media (768px >= width > 425px){
	mrt-stalist{
		width: 80vw; 
	}
}

@media (width <= 425px){
	mrt-stalist{
		width: 100vw; 
	}
}

mrt-stalist{
	margin-left: auto; 
	margin-right: auto; 
}

group::before{
	display: block; 
	position: sticky; 
	top: 0; 
	background: #666; 
	content: attr(letter); 
	text-align: center; 
	font-size: 2em; 
	color: white; 
}

sta{
	display: block; 
	border-bottom-style: solid; 
	border-bottom-color: #CCC; 
	border-bottom-width: 1px; 
}

[no-service="true"]{
	background-color: #BBB; 
}

sta-name-zhtw, sta-name-en, route-and-stanos{
	display: inline; 
}

route-and-stano{
	display: inline-block; 
	border-style: solid; 
	border-radius: 10px; 
	width: 1.7rem; 
}

route-and-stano[place="KH"]{
	border-radius: 50%; 
	width: 2.25rem; 
}

route-and-stano[place="KH"]::before{
	content: attr(route) attr(stano); 
	text-align: center; 
	width: 2.25rem; 
}

route-and-stano[place="KH"]::after{
	content: none; 
}

route-and-stano::before{
	content: attr(route); 
	font-size: 0.5em; 
	display: inline-block; 
	width: 1.7rem; 
	text-align: center; 
}

route-and-stano::after{
	content: attr(stano); 
	font-size: 0.5em; 
	display: inline-block; 
	width: 1.7rem; 
	text-align: center; 
}

route-and-stano[place="TP"][route="BR"]{
	border-color: #c48c31; 
}

route-and-stano[place="TP"][route="R"]{
	border-color: #e3002c; 
}

route-and-stano[place="TP"][route="R"][stano="22A"]{
	border-color: #fd92a3; 
}

route-and-stano[place="TP"][route="G"]{
	border-color: #008659; 
}

route-and-stano[place="TP"][route="G"][stano="03A"]{
	border-color: #cfdb00; 
}

route-and-stano[place="TP"][route="O"]{
	border-color: #f8b61c; 
}

route-and-stano[place="TP"][route="BL"]{
	border-color: #0070bd; 
}

route-and-stano[place="TP"][route="LG"]{
	border-color: #a1d884; 
}

route-and-stano[place="TP"][route="SB"]{
	border-color: #25aae1; 
}

route-and-stano[place="TP"][route="SB"]:is([stano="11A"], [stano="11B"], [stano="11C"]){
	border-color: #283991; 
}

route-and-stano[place="TP"][route="LR"]{
	border-color: #e40078; 
}

route-and-stano[place="NT"][route="Y"]{
	border-color: #ffdb00; 
}

route-and-stano[place="NT"][route="V"]{
	border-color: #e5554f; 
}

route-and-stano[place="NT"][route="K"]{
	border-color: #a28d5b; 
}

route-and-stano[place="NT"][route="LB"]{
	border-color: #79bce8; 
}

route-and-stano[place="NT"][route="S"]{
	border-color: #cc7722; 
}

route-and-stano[place="NT"][route="F"]{
	border-color: #e5007f; 
}

route-and-stano[place="TY"][route="A"]{
	border-color: #8246af; 
}

route-and-stano[place="TY"][route="G"]{
	border-color: #62a033; 
}

route-and-stano[place="TY"][route="GE"], route-and-stano[place="TY"][route="GA"]{
	border-color: #006835; 
}

route-and-stano[place="TY"][route="BRH"]{
	border-color: #824729; 
}

route-and-stano[place="TN"][route="B"], route-and-stano[place="TN"][route="BK"], route-and-stano[place="TN"][route="BH"]{
	border-color: #015bba; 
}

route-and-stano[place="TN"][route="G"]{
	border-color: #267f00; 
}

route-and-stano[place="TN"][route="R"]{
	border-color: #d90023; 
}

route-and-stano[place="TN"][route="BR"]{
	border-color: #7f0037; 
}

route-and-stano[place="TN"][route="O"]{
	border-color: #f5a818; 
}

route-and-stano[place="KH"][route="R"], route-and-stano[place="KH"][route="RL"], route-and-stano[place="KH"][route="RK"]{
	border-color: #e20b65; 
}

route-and-stano[place="KH"][route="O"], route-and-stano[place="KH"][route="OT"]{
	border-color: #faa73f; 
}

route-and-stano[place="KH"][route="C"]{
	border-color: #7cbd52; 
}

route-and-stano[place="KH"][route="Y"]{
	border-color: #ffc100; 
}

route-and-stano[place="KH"][route="P"]{
	border-color: #c100ff; 
}

route-and-stano[place="KH"][route="QJ"]{
	border-color: #e20b65; 
}

route-and-stano[place="KH"][route="LD"]{
	border-color: #524fff; 
}